<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>305402466056-r62dqkv6ouaeifj1ll6d4t3am4v3ppm7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.305402466056-r62dqkv6ouaeifj1ll6d4t3am4v3ppm7</string>
	<key>API_KEY</key>
	<string>AIzaSyBjTfBkmssUsGDJLWFIL4KlZVbhbd8HWoU</string>
	<key>GCM_SENDER_ID</key>
	<string>305402466056</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>maycon.Jam</string>
	<key>PROJECT_ID</key>
	<string>jamapp-edc6c</string>
	<key>STORAGE_BUCKET</key>
	<string>jamapp-edc6c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:305402466056:ios:b2ec54413a079445</string>
	<key>DATABASE_URL</key>
	<string>https://jamapp-edc6c.firebaseio.com</string>
</dict>
</plist>